<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="My suite" verbose="1" parallel="false"  allow-return-values="true">
<!--    <listeners>-->
<!--        <listener class-name="com.znsio.reportportal.integration.listener.ReportPortalListener"></listener>-->
<!--    </listeners>-->
    <test name="My test 1" preserve-order="true">
        <classes>
            <class name="com.znsio.ReportPortalLogger.package1.Sample1_Test"/>
            <class name="com.znsio.ReportPortalLogger.package1.Sample2_Test"/>
            <class name="com.znsio.ReportPortalLogger.package2.Sample4_Test"/>
        </classes>
    </test>
    <test name="My test 2" preserve-order="true">
        <classes>
            <class name="com.znsio.ReportPortalLogger.package1.Sample1_Test"/>
            <class name="com.znsio.ReportPortalLogger.package1.Sample2_Test"/>
            <class name="com.znsio.ReportPortalLogger.package2.Sample3_Test"/>
        </classes>
    </test>
    <test name="Skip failing test" preserve-order="true">
        <classes>
            <class name="com.znsio.ReportPortalLogger.package1.Sample1_Test"/>
            <class name="com.znsio.ReportPortalLogger.package1.Sample2_Test">
                <methods>
                    <include name="sample1"/>
                    <include name="failingTest"/>
                </methods>
            </class>
            <class name="com.znsio.ReportPortalLogger.package2.Sample3_Test"/>
        </classes>
    </test>
    <test name="Another Skip failing test" preserve-order="true">
        <classes>
            <class name="com.znsio.ReportPortalLogger.package1.Sample2_Test">
                <methods>
                    <include name="sample1"/>
                    <include name="failingTest"/>
                </methods>
            </class>
            <class name="com.znsio.ReportPortalLogger.package2.Sample3_Test"/>
            <class name="com.znsio.ReportPortalLogger.package1.Sample1_Test"/>
        </classes>
    </test>
</suite>
